.githubIcon {
  background: center/contain url('./assets/github.svg');
}

.googleIcon {
  background: center/contain url('./assets/google.svg');
}

.keycloakIcon {
  width: 25px;
  height: 25px;
  background: center/contain url('./assets/keycloak.svg');
}

.logo {
  width: 202px;
  height: 30px;
  background: url(~@/app/components/share/chat/welcome/icons/cvte.png) center center no-repeat;
  background-size: contain;
}

.background {
  background-image: url('./assets/background.png');
  background-size: cover;
}
